<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single">
        <h1>Create New User</h1>
        <%= form_tag '/users', method: :post do  %>
          <div class="form-group">
            <%= label_tag :first_name %>
            <%= text_field_tag :first_name, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :last_name %>
            <%= text_field_tag :last_name, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :phone_number %>
            <%= text_field_tag :phone_number, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :address_1 %>
            <%= text_field_tag :address_1, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :address_2 %>
            <%= text_field_tag :address_2, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :city %>
            <%= text_field_tag :city, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :state %>
            <%= text_field_tag :state, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :zip %>
            <%= text_field_tag :zip, nil, class: "form-control" %>
          </div>
          <br>
          <br>
          <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :password_confirmation %>
            <%= password_field_tag :password_confirmation, nil, class: "form-control" %>
          </div>
          <br>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single">
        <h1>Log In</h1>
        <%=  form_tag "/login", method: :post do %>
          <div class="form-group">
            <%=  label_tag :email %>
            <%=  email_field_tag :email, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%=  label_tag :password %>
            <%=  password_field_tag :password, nil, class: "form-control" %>
          </div>
          <%= submit_tag "Log In", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>