<h1>Where You At?</h1>
<h1>Enter the coordinates of WYA</h1>

<%= form_tag '/locations', method: :post do %>
  <div>
    <%= label_tag "Latitude:" %>
    <%= text_field_tag :lat %>
  </div>
  <div>
    <%= label_tag "Longitude:" %>
    <%= text_field_tag :long %>
  </div>
  <br>
  <%= submit_tag "Here I am, dude." %>
<% end %>