<h1>Enter the coordinates of a location</h1>

<%= form_tag '/locations', method: :post do %>
  <div>
    <%= label_tag "Latitude:" %>
    <%= text_field_tag :lat %>
  </div>
  <div>
    <%= label_tag "Longitude:" %>
    <%= text_field_tag :long %>
  </div>
  <%= submit_tag "Let's Set It!" %>
<% end %>