<!-- <h1>Zone and Location Show Page</h1>
<br>
<h2>Your maximum latitude: <%= @zone.max_lat %></h2>
<h2>Your maximum longitude: <%= @zone.max_long %></h2>
<h2>Your minimum latitude: <%= @zone.min_lat %></h2>
<h2>Your minimum longitude: <%= @zone.min_long %></h2>
<br>
<h2>You are at: <%= @location.lat %>, <%= @location.long %></h2> -->